.main-layout {
    background: #000;
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas:
            'sidebar main-content'
            'now-playing now-playing';
    gap: $panel-gap;
    height: 100vh;
    border: solid $panel-gap transparent;
    box-sizing: border-box;

    > nav.sidebar {
        grid-area: sidebar;
    }

    > main.content {
        overflow-x: hidden;
        grid-area: main-content;
    }

    > footer.now-playing {
        grid-area: now-playing;
    }
}
