.library {
    button {
        color: $colorsubtle;
        padding: 8px;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        background-color: transparent;
    }

    &-filter {
        display: flex;
        gap: 8px;
        position: relative;
        position: relative;
        pointer-events: none;
        padding: 8px 16px;
        div[role='group'] {
            pointer-events: all;
            max-width: 220px;
            overflow-x: scroll;
            scroll-behavior: smooth;
            scrollbar-width: none;
            flex-wrap: nowrap;
            display: flex;
            gap: 8px;
            scrollbar-width: none;
            -ms-overflow-style: none;
            &::-webkit-scrollbar {
                display: none;
            }
            button {
                border-radius: $border-radius-full;
                color: $coloractive;
                background-color: $background-highlight;
                span {
                    opacity: 0.5;
                }
                &:hover {
                    background-color: $background-highlight;
                }
            }
        }
        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, transparent 0, transparent 50%, $background-base 100%,);
        }

    }
    &-actions {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        .add {
            height: 30px;
            width: 30px;
            justify-self: end;
            font-size: 1.7rem;
            border-radius: 50%;
            &:hover {
                color: $coloractive;
                background-color: $background-highlight;
            }
        }
        .toggle {
            margin-right: auto;
            justify-self: start;
            align-self: center;
            gap: 12px;
            background-color: transparent;
            cursor: pointer;
            font-size: 1rem;
            transition: color 0.2s ease-in-out;
            font-weight: 700;
            @include transition(color, 0.1s);

            svg {
                @include transition(fill, 0.1s);
                fill: $colorsubtle;
            }
            &:hover {
                color: $coloractive;
                svg {
                    fill: $coloractive;
                }
            }
        }

    }
    .library-playlist {
        display: flex;
        flex-direction: column;
        padding: 0 16px;
        &-actions {
            display: flex;
            justify-content: space-between;
            .search {
                justify-self: start;
                border-radius: 50%;
                svg {
                    fill: $colorsubtle;
                }
                &:hover {
                    background-color: $background-highlight;
                    svg {
                        fill: $coloractive;
                    }
                }
            }
            .sort {
                gap: 5px;
                color: $colorsubdued;
                @include transition(color, 0.05s);

                svg {
                    fill: $colorsubdued;
                }
                &:hover {
                    color: $coloractive;
                    scale: 1.04;
                    svg {
                        fill: $coloractive;
                    }
                }
            }

        }
    }
    //padding: 0 1rem;
    //display: grid;
    //button {
    //    display: inline-flex;
    //    align-items: center;
    //    background: transparent;
    //    border: none;
    //    //color: $white;
    //    cursor: pointer;
    //    font-size: 1.5rem;
    //    padding: 0;
    //    transition: color 0.2s ease-in-out;
    //    //&:hover {
    //        //color: $light-grey;
    //    //}
    //}
}
