.library {
    &-header-add,
    &-header-toggle,
    &-options-sort,
    &-options-search {
        padding: 8px;
        justify-content: center;
        display: inline-flex;
        align-items: center;
        white-space: nowrap;
        background-color: transparent;
    }
    &-header,
    &-filter {
        padding: $panel-gap ($panel-gap * 2);
    }

    &-header {
        display: flex;
        align-items: center;

        &-add {
            height: 30px;
            width: 30px;
            justify-self: end;
            font-size: 1.7rem;
            border-radius: 50%;

            &:hover {
                background-color: $background-button;
                fill: $coloractive;
            }

            fill: $colorsubdued;
        }

        &-toggle {
            margin-right: auto;
            justify-self: start;
            align-self: center;
            gap: 12px;
            color: $colorsubtle;
            background-color: transparent;
            cursor: pointer;
            font-size: 1rem;
            font-weight: 700;
            fill: $colorsubtle;
            @include transition((color, fill), 100ms);

            &:hover {
                color: $coloractive;
                fill: $coloractive;
            }
        }

    }

    &-filter {
        display: flex;
        gap: 8px;
        position: relative;
        pointer-events: none;
        white-space: nowrap;

        div[role='group'] {
            pointer-events: all;
            max-width: var(--sidebar-width, 200px);
            overflow-x: scroll;
            scroll-behavior: smooth;
            flex-wrap: nowrap;
            display: flex;
            gap: 8px;
            min-width: 100%;
            scrollbar-width: none;
            -ms-overflow-style: none;
            align-items: stretch;

            &::-webkit-scrollbar {
                display: none;
            }

            button {
                border-radius: $border-radius-full;
                color: $coloractive;
                background-color: $background-button;
                @include transition(background-color);
                font-size: .875rem;
                padding: 8px 12px;
                font-weight: 500;
                pointer-events: all;

                &:hover {
                    background-color: $background-hover;
                    z-index: 1;
                }
            }
        }

        &:after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background: linear-gradient(to right, transparent 0, transparent 50%, $background-base 100%,);
        }

    }

    &-options {
        display: flex;
        justify-content: space-between;
        padding: 2px $panel-gap 0;
        padding-inline-end: 4px;

        &-search {
            justify-self: start;
            border-radius: 50%;
            fill: $colorsubtle;

            &:hover {
                background-color: $background-highlight;
                fill: $coloractive;
            }
        }

        &-sort {
            gap: 5px;
            color: $colorsubdued;
            fill: $colorsubdued;
            @include transition(color, 50ms);

            &:hover {
                color: $coloractive;
                scale: 1.04;
                fill: $coloractive;
            }
        }
    }

    &-list {
        &-wrapper {
            display: flex;
            flex-direction: column;
            gap: $panel-gap;
            padding-inline: $panel-gap;
        }

        &-item {
            $cover-size: 48px;
            $item-width: calc(var(--sidebar-width, 200px) - $cover-size);
            @include transition(background-color, 50ms);

            &-wrapper {
                display: grid;
                gap: 8px 12px;
                grid-template-columns: $cover-size $item-width auto;
                grid-template-rows: $cover-size;
                align-items: center;
                padding: 8px;
            }


            > a {
                border-radius: $border-radius-small;
                cursor: pointer;
                @include transition(background-color, 50ms);

                &:hover {
                    background-color: $bg-library-hover;
                    border-radius: $border-radius-small;
                }

                &.active {
                    background-color: $bg-library-active;
                    &:hover {
                        background-color: $bg-library-active-hover;
                    }
                }
            }

            &-name, &-author {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                font-weight: 600;

                &:empty {
                    height: 1em;
                    max-width: 150px;
                    background-color: $background-placeholder;
                    border-radius: $border-radius-small;
                }
            }

            &-name {
                color: $coloractive;
                font-size: 1rem;
            }

            &-author {
                color: $colorsubdued;
                font-size: 13px;

                &:empty {
                    width: 120px;
                    margin-top: 4px;
                }
            }

            &-cover {
                background-color: $background-placeholder;
                border-radius: $border-radius-small;
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }
    }

}
