.main-header {
    display: flex;
    justify-content: space-between;
    transition: background-color 0.2s ease-in-out;
    > div {
        display: flex;
        gap: 4px;
    }
    button {
        border-radius: $border-radius-full;
        font-weight: 500;
        background: rgb(45, 43, 43);
        min-height: 40px;
        min-width: 40px;
        padding: 8px 12px;
    }

    .install-icon{
        fill: $colorbtnactive;
    }

    .whatsnew-icon{
        fill: $colorbtnactive;
    }

    .profile-icon{
        fill: $colorbtnactive;
    }

}
