.main-header {
    padding: 0 16px;
    height: 64px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    transition: background-color 200ms ease-in-out;

    >div {
        display: flex;
        gap: 8px;
    }

    button {
        border-radius: $border-radius-full;
        font-weight: 500;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background: rgb(45, 43, 43);
        min-height: 32px;
        min-width: 32px;
    }

    .install-icon {
        fill: $coloractive;
    }

    .whatsnew-icon {
        fill: $coloractive;
    }

    .profile-icon {
        fill: $coloractive;
    }

    .goback-icon {
        fill: $coloractive;
    }

    .goforward-icon {
        fill: $coloractive;
    }

}