.navigation {
    height: max-content;
    list-style: none;
    padding: 8px 12px;
    margin: 0;
    border-radius: $border-radius;
    background: $background-base;

    li {
        padding: 4px 12px;
    }

    a {
        width: 100%;
        text-decoration: none;
        color: $colorbtn;
        font-weight: 700;
        @include transition($property: color);
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        gap: 20px;
        height: 40px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        span {
            display: inline-block;
        }

        &:hover, &.active {
            color: $colorbtnactive;

            .home-icon {
                stroke: $colorbtnactive;
            }
        }

        &.active [class*="-icon"],
        &:hover .search-icon {
            fill: $colorbtnactive;
        }
        
        .home-icon {
            stroke: $colorbtn;
            stroke-width: 4px;
            stroke-linecap: square;
            @include transition($property: stroke);
        }

        .search-icon {
            fill: $colorbtn;
            @include transition($property: fill);

            &-inner {
                fill: transparent;
                .active > & {
                    fill: $colorbtnactive;
                }
            }
        }

        .logo-icon{
            stroke-width: 15px;
            stroke-linecap: square;
            fill:white
        }
    }
   
}
