.player {
    grid-area: now-playing-row;
    height: 72px;
    display: grid;
    grid-template-columns: 1fr auto 1fr;

    &-details {
        display: grid;
        grid-template: 56px auto / 56px auto;
        gap: 8px;
        align-items: center;
        padding-inline-start: 8px;
        align-self: center;
    }

    &-controls {
        text-align: center;
        align-self: center;

        button {
            padding: 5px;

            &:has(.play-icon),
            &:has(.pause-icon) {
                fill: black;
                border-radius: $border-radius-full;
                background-color: white;
                display: inline-flex;
                justify-content: center;
                align-items: center;
                width: 32px;
                height: 32px;
            }
        }
    }

    &-deck {
    }

    .switch-icon,
    .previous-icon,
    .next-icon,
    .disablerepeat-icon,
    .nowplayingview-icon,
    .queue-icon,
    .connecttodevice-icon,
    .mute-icon {
        stroke-width: 14px;
        fill: $colorsubtle;
    }
}
