.player {
    grid-area: now-playing-row;
    height: 72px;
    display: flex;
    grid-auto-flow: column;
    grid-template-columns: 1fr auto 1fr;

    .switch-icon,
    .previous-icon,
    .repeat-icon,
    .next-icon, {
        fill: $icon-player-controls;
    }

    #volume-icon {
        fill: $icon-player-aside;
    }
}
