.player-details {
    min-width: 180px;
    width: 30%;
    display: flex;
    gap: 18px;
    align-items: center;
    padding-inline-start: $panel-gap;

    .thumbnail {
        min-width: 56px;
        flex-basis: 56px;
        margin-top: 4px;
        align-self: flex-start;
    }

    &-info {
        max-width: calc(100% - 56px - 18px - $panel-gap);
        h3 {
            font-size: 14px;
            font-weight: 500;
        }

        p {
            font-size: 12px;
            color: $color-player-faded;
        }

        h3, p {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
