main.content:has(.playlist),
main.content:has(.genre) {
  position: relative;

  .main-header {
    top: 0;
    z-index: 1;
    position: absolute;
  }
}

.playlist {
  --bg-header-top: #{'rgb(var(--bg-base) / 1)'};
  --bg-header-bottom: #{'rgb(var(--bg-base) / 0.5)'};
  --bg-content-top: #{'rgb(var(--bg-base) / 0.35)'};
  --bg-content-bottom: #{$background-base};
  display: grid;
  grid-template-rows: auto 1fr;

  @if (var(--bg-base)) {
    animation: show 0s ease-in-out 1 backwards 135ms;
  } @else {
    display: none;
  }
  @keyframes show {
    from {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  &__content {
    background: linear-gradient(to bottom, var(--bg-content-top), var(--bg-content-bottom) 33vh);
  }

  &__header {
    display: grid;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    grid-template-areas: 'img details';
    grid-template-columns: clamp(128px, 128px + (100vw - var(--sidebar-width, 0px) - 728px), 232px) 1fr;
    gap: 18px 24px;
    padding: 106px 16px 16px 16px;
    position: relative;
    background: linear-gradient(to bottom, var(--bg-header-top), var(--bg-header-bottom));

    .thumbnail {
      align-self: end;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }

    .details {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      gap: 8px;

      .entity {
        font-size: 0.8rem;
        font-weight: 600;
      }

      .name {
        margin-left: -0.05em;
        letter-spacing: -1px;
        font-size: clamp(2rem, 100vw - var(--sidebar-width, 0px) - 750px, 4.5rem);
        line-height: 1;
      }

      .description {
        color: $color-text-faded;
        font-size: 0.9rem;
        line-height: 1.4;
      }

      .author {
        font-weight: 700;
        font-size: 0.9rem;
      }

    }
  }

  &__table {
    padding: 0 16px;
    --col1: 50%;
    --col2: 10%;
    display: grid;
    grid-template-columns: minmax(16px, auto) 1fr [last] minmax(120px, auto);

    &__header,
    &__content,
    .track {
      display: grid;
      grid-column: 1 / -1;
      grid-template-columns: subgrid;
      grid-template-rows: var(--row-height, 56px);
      align-items: center;
    }

    &__header {
      padding: 0 16px;
      gap: 16px;
      color: $colorsubdued;
      font-size: rem(14px);
      border-bottom: 1px solid hsla(0, 0%, 100%, .1);
      margin-bottom: 10px;
      --row-height: 35px;

      > :first-child {
        text-align: end;
        justify-self: center;
      }

      > :last-child {
        grid-column: last;
        justify-self: center;

        .clock-icon {
          fill: $colorsubdued;
        }
      }
    }

    &__content {
      .track {
        gap: 16px;
        border-radius: 4px;
        padding: 0 16px;

        > :first-child {
          position: relative;
          justify-self: center;

          .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            fill: white;
            display: none;
          }
        }

        > :last-child {
          grid-column: last;
          justify-self: center;
        }

        > :nth-child(2) {
          display: inline-grid;
          grid-template-columns: 40px 1fr;
          align-items: center;
          justify-items: start;
          grid-column-gap: 16px;
          overflow: hidden;
          text-overflow: ellipsis;

          .thumbnail {
            grid-row: span 2;
          }

          .name, .artist {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 100%;
            letter-spacing: -0.05px;
          }

          .name {
            line-height: 1.2;
            font-size: rem(14px);
            font-weight: 600;
          }

          .artist {
            color: $colorsubdued;
            font-size: rem(13px);
            font-weight: 500;
          }
        }

        &:hover {
          background-color: hsla(0, 0%, 100%, .1);

          &:after {
            top: 0;
            bottom: 0;
          }

          > :first-child {
            color: transparent;

            .btn {
              display: block;
            }
          }
        }
      }
    }
  }

  &__panel {
    padding: 16px;
  }
}

