.player {
    grid-area: now-playing-row;
    height: 72px;
    display: flex;

    button {
        padding: 5px;
        &:disabled {
            pointer-events: none;
        }
        &:hover {
            svg:not(.play-icon):not(.pause-icon),
            #volume-icon {
                fill: white;
            }
        }
        svg {
            transition: fill 50ms;
        }

        &:has(.play-icon),
        &:has(.pause-icon) {
            fill: black;
            border-radius: $border-radius-full;
            background-color: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
            min-width: 32px;

            &:hover, &:focus-within {
                box-shadow: 0 0 0 1px white;
            }
        }

    }

    .switch-icon,
    .previous-icon,
    .repeat-icon,
    .next-icon, {
        fill: $icon-player-controls;
    }

    #volume-icon {
        fill: $icon-player-aside;
    }
}
