.player-controls {
    max-width: 722px;
    width: 40%;
    text-align: center;
    align-self: center;

    &-top {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin-bottom: 12px;

        button svg {
            transition: fill 50ms;
        }

        button:has(.play-icon),
        button:has(.pause-icon) {
            &:hover, &:focus-within {
                scale: 1.1;
            }
        }

        button:hover svg:not(.play-icon):not(.pause-icon) {
            fill: white;
        }
    }

    &-bottom {
        position: relative;
        margin-bottom: 4px;

        .progress-time-now {
            right: 100%;
            transform: translate(-50%, -50%);
        }

        .progress-time-end {
            left: 100%;
            transform: translate(50%, -50%);
        }

        .progress-time-now,
        .progress-time-end {
            white-space: nowrap;
            top: 50%;
            position: absolute;
            font-size: 12px;
            color: $color-player-faded;
        }
    }

    button {
        padding: 5px;

        &:has(.play-icon),
        &:has(.pause-icon) {
            fill: black;
            border-radius: $border-radius-full;
            background-color: white;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            width: 32px;
            height: 32px;
        }
    }
}
