.player-details {
  min-width: 180px;
  width: 30%;
  display: inline-grid;
  grid-template-columns: 56px 1fr;
  grid-gap: 4px 18px;
  align-content: center;
  align-items: center;
  padding-inline-start: $panel-gap;
  position: relative;

  &:after {
    content: '';
    display: block;
    background-image: linear-gradient(to left, var(--bg-base) 0px, transparent 16px);
    pointer-events: none;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    position: absolute;
  }

  .thumbnail {
    grid-row: 2 span;
  }

  h3 {
    align-self: end;
    font-size: rem(14px);
    font-weight: 500;
  }

  p {
    align-self: start;
    font-size: rem(12px);
    color: $color-player-faded;
  }

  h3, p {
    line-height: 1.2;
    white-space: nowrap;
    overflow: hidden;
  }
}
