.playlists {
    --column-count: 3;
    --grid-gap: 12px;
    --min-container-width: 372px;

    display: grid;
    grid-template-columns: repeat(var(--column-count), minmax(0, 1fr));
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    min-width: var(--min-container-width);
    grid-gap: var(--grid-gap);

    .playlist {
        display: grid;
        align-content: end;
        border-radius: $border-radius;
        padding: 16px;
        aspect-ratio: 1;
        cursor: pointer;
        background-color: #a7a7a7; //fallback
        text-shadow: 0 5px 15px #12121235;
    }
}
