.search {
  position: relative;
  display: flex;
  flex-basis: 500px;

  .search-input {
    flex: 1;
    background-color: $bg-entity;
    border: none;
    border-radius: $border-radius-full;
    color: white;
    padding: 16px 8px 16px 40px;
    font-size: rem(16px);
    font-weight: 400;
    text-overflow: ellipsis;

    &::placeholder {
      color: $color-text-subdued;
    }

    &:hover {
      box-shadow: 0 0 0 1px hsla(0, 0%, 100%, .2);
    }

    &:hover,
    &:focus {
      + .search-icon {
        fill: white;
      }
    }
  }

  .search-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    width: 18px;
    transform: translateY(-50%);
    fill: $color-text-faded;

    &-inner {
      fill: none;
    }
  }
}

