.sidebar {
    --sidebar-width: 200px;
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: $panel-gap;
    position: relative;

    .library, .navigation-wrapper {
        background-color: $background-base;
        border-radius: $border-radius;
    }

    .library {
        overflow-y: hidden;
        display: flex;
        height: 100%;
        flex-direction: column;

        .library-list-wrapper {
            overflow-y: scroll;
            scrollbar-width: none;
            -ms-overflow-style: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .resize-handle {
        position: absolute;
        left: 100%;
        translate: -50% 0;
        padding-inline: $panel-gap;
        top: 0;
        bottom: 0;
        border-radius: 0;
        background: none;

        &:after {
            top: 0;
            bottom: 0;
            width: 1px;
            @include transition(background-color);
            content: '';
            position: absolute;
            opacity: .5;
        }

        @include transition(opacity);

        &:hover {
            cursor: ew-resize;

            &:after {
                background-color: $colorsubdued;
            }
        }
    }
}
