.stations {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--column-width, 180px), 1fr));

  .station-card {
    border-radius: $border-radius-small;
    text-shadow: 0 5px 15px #12121235;
    transition: background-color 33ms ease-in-out;
    padding: 12px;

    .thumbnail {
      filter: brightness(1.15) saturate(1.1) blur(0.1px);
    }

    &:hover {
      background-color: $bg-highlight;
      border-color: $bg-highlight;
    }

    .name {
      min-height: em(26px);
      display: block;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      line-height: 1.5;
    }

    small {
      color: $color-player-faded;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: normal;
    }
  }
}
