{
    "trailingComma": "none",
    "tabWidth": 4,
    "semi": false,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "bracketSameLine": false,
    "singleAttributePerLine": false,
    "bracketSpacing": true,
    "bracketLine": true,
    "printWidth": 100,
    "arrowParens": "avoid",
    "experimentalTernaries": true
}
