.browse {
  padding: 0 16px;
  margin-top: 16px;
  h1 {
    font-size: rem(24px);
    margin-top: 16px;
  }
  section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 8px;
    margin-top: 16px;

    .card {
      aspect-ratio: 1;
      border-radius: 8px;
      font-size: rem(20px);
      letter-spacing: -0.02em;
      font-weight: 700;
      padding: 16px;

      a {
        font-weight: 700;
      }
    }
  }
}