.home {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(6, 1fr);
    gap: 24px;
    text-shadow: 0 0 5px #121212;
    padding-top: 8px;
    font-size: 24px;
    font-weight: bold;
}

.card {
    border-radius: $border-radius;
    padding: 8px;
    aspect-ratio: 1;
    position: relative;
    overflow: hidden;
    height: 207.19px;
    width:  207.19px;
   
}

.card__img {
    transform: rotate(25deg) translate(18%, -2%);
    height: 132.89px;
    width: 132.89px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
    position: absolute;
    bottom: 0;
    right: 0;
}
