.home {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
    font-weight: 300;
    text-shadow: 0 0 5px #121212;
    padding-top: 8px;
    .card {
        border-radius: $border-radius;
        padding: 8px;
        aspect-ratio: 1;
    }
}
