@mixin btn($type: regular) {
    font-weight: 700;
    display: inline-block;

    @if $type == regular {
        color: inherit;
        text-underline-offset: .1em;
        padding: 8px 12px;
        &:hover {
            text-decoration: underline;
        }
    }
    @if $type == primary {
        background: white;
        color: #121212;
        text-decoration: none;
        border-radius: $border-radius-full;
        &:hover {
            scale: 1.05;
        }
    }
}

/* prettier-ignore */
@mixin transition($property: all, $dur: 200ms, $timing-func: linear, $delay: 0s) {
    transition: $property $dur $timing-func $delay;
}
