$background-base: #121212;
$background-highlight: hsla(0,0%,100%,.1);
$background-button: #1A1A1A;
$background-hover: #1F1F1F;
$background-simple: #141414;
$background-main: #282828;
//$background-highlight: #1a1a1a;
//$background-main: rgb(0 0 0 / 20%);


/* Border Radius */

$border-radius: 8px;
$border-radius-full: 9999px;

$panel-gap: 8px;
$panel-border-radius: 8px;

$colorsubtle: #b3b3b3;
$colorsubdued: #a7a7a7;
$coloractive: #fff;
