@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamThin.ttf);
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamLight.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBook.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamMedium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamUltra.ttf);
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamXLight.ttf);
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBlack.ttf);
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamThinItalic.ttf);
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamXLightItalic.ttf);
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamLightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBookItalic.ttf);
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamMediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBoldItalic.ttf);
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamBlackItalic.ttf);
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url(src/assets/fonts/Gotham-Font/GothamUltraItalic.ttf);
    font-weight: 900;
    font-style: italic;
}
